.topbar {
	background-color: black;
	overflow: hidden;
}

/* Style the links inside the navigation bar */
.topbar h1 {
	float: left;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	margin-left: 20%;
	text-decoration: none;
	font-size: 17px;
}

/* Change the color of links on hover */
.topbar h1:hover {
	background-color: #ddd;
	color: black;
}

/* Add a color to the active/current link */
.topbar h1.active {
	background-color: #4caf50;
	color: white;
}
