.topbar {
	background-color: #99b898;
	overflow: hidden;
}

/* Style the links inside the navigation bar */
.topbar h1 {
	float: left;
	color: #f2f2f2;
	text-align: center;
	padding: 20px 16px;
	margin-left: 20%;
	text-decoration: none;
	font-size: 2rem;
}

.topbar .search {
	width: 20%;
	margin: 1.2rem 2% auto auto;
}

.topbar .sort {
	margin-right: 5%;
	width: 5%;
	height: 2.6rem;
	border-radius: 6%;
	border: none;
	background-color: #f69e7b;
}

.topbar .sort:hover {
	background-color: #c27f64;
}
